*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.required{
    color: red;
    font-weight: bold;
}
.create-form{
    width: 100%;
}

.submit{
    padding: 2vh;
}
.submit-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #00235B;
    border: none;
    color: #ffff;
    width: 10%;
    border-radius: 10px;


}
#inp-field{
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #00235B;
}

/* .form-group-radio{
    display: block;
    width: 100%;
} */


.grp-header{
    font-size: 1.3rem;
    font-weight: bold;
}

.name-grp{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.name-field{
    width: 100%;
}

.address-grp{
    margin-top: 3vh;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.address-field{
    width: 100%;
}

.nationality-grp{
    margin-top: 3vh;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.nationality-field{
    width: 100%;
}

.identity-grp{
    margin-top: 3vh;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.identity-field{
    width: 100%;
}
