* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    padding: 3vh;
}

.base-user {
    display: flex;
    gap: 5vh;
    align-items: center;
}
.pel{
    font-size: 1rem;
    font-weight: bold;
}
.uname {
    font-size: 2rem;
    font-weight: bold;
}
.transaction-btn{
    padding: 5vh;
}


.card-container-details {
    padding: 4vh;
    width: 100%;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.card-hdr {
    font-size: 1.7rem;
    font-style: italic;
}
.tbl {
    width: 100%;
}
.user-cont {
    font-style: italic;
}
label {
    font-size: 1rem;
    font-weight: bold;
}
.section-hdr {
    padding-top: 2vh;
    font-weight: lighter;
    font-size: 1.3rem;
}

table td {
    padding: 7px;
}
.hdr-notice{
    font-size: 1rem;
    font-style: italic;
}
.card-container-lcd{
    padding: 5vh;
    width: 100%;
}
.card-lcd {
    padding: 5vh;
    border-top: 10px solid #00235B;
    border-radius: 10px;
    background-color: #F5F5F5;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
